.App-logo {
    float:left;
    height: 35px;
    padding-left: 45px;
}

.App-header {
    background-color: #1D428A;
    height: 55px;
    color: white;
    display: flex;
    align-items: center;
}
